@tailwind base;
@tailwind components;
@tailwind utilities;

a, .btn, .card{
    @apply rounded-none
}
.btn{
    @apply capitalize
}

html, body{
    scroll-behavior: smooth;
}

.left-50{
    left: 50%;
}
.right-50p{
    right: 50%;
}

.top-50p{
    top: 50%;
}

.-z-1{
    z-index: -1;
}

.-z-2{
    z-index: -2;
}

.secondary-title{
    @apply text-3xl font-bold;
}
.secondary-title::before{
    content:"";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph{
    @apply text-secondary-bis my-6 w-full max-w-3xl;
}


[id] {
    scroll-margin-top: 100px;
}

.left-5p{
    left: 5%;
}

.h-screen-partial{
    height: 80vh;
}

.nav-dot{
    transition: background 200ms, border-color 200ms;
}

.selected-circle{
    @apply border-primary bg-primary;
}

.nav-dot:hover span {
    opacity: 1
}
